{% extends 'base.twig' %}

{% block title %}
	<title>{{channel.title}}</title>
{% endblock %}

{% block canonical %}
	<link rel="canonical" href="{{channel.canonicalUrl}}">
{% endblock %}

{% block meta %}
	{{channel.meta}}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{channel.jsPath}}"></script>
{% endblock %}